<ion-view title="game_view">
	<ion-content class="has-header">

		<div id="question-container" class="item item-text-wrap">
			 {{currentQuestion.text}}
		</div>

		<ion-list radio-group>
			<ion-item class="item-avatar">
				<ion-radio
					class="wrapping-list"
					ng-repeat="n in currentQuestion.alternatives" 
					ng-value="n"
					ng-model="selectedOption.value"
 					ng-click="showConfirm()">
					<img ng-if="$index == 0" ng-src="http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/238/original/0061-500x500.png?1275328246" />
					<img ng-if="$index == 1" ng-src="http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/239/original/0062-500x500.png?1275328247" />
					<img ng-if="$index == 2" ng-src="http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/240/original/0063-500x500.png?1275328248" />
					<img ng-if="$index == 3" ng-src="http://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/241/original/0064-500x500.png?1275328252" />
					{{n}}
				</ion-radio>
			</ion-item>
		</ion-list>

		<div class="row">
			<div class="col" style="text-align:center;color:white">Errar</div>
			<div class="col" style="text-align:center;color:white">Parar</div>
			<div class="col" style="text-align:center;color:white">Acertar</div>
		</div>

		<div class="button-bar">
  			<a class="button button-royal">
  				{{scoreIfWrong | currency}}
			</a>
  			<a class="button button-royal">
  				{{currentScore | currency}}
			</a>
  			<a class="button button-royal">
  				{{scoreIfRight | currency}}
			</a>
		</div>

	</ion-content>
</ion-view>